################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VerticalSlice/bin/Debug/net8.0/VerticalSlice.API.dll
